<h2><%= @guardian.first_name + ' ' + @guardian.try(:middle_name).to_s + ' ' + @guardian.last_name %></h2>

<div class="grey-box">
  <h3>Guardian</h3>

  <div class="blue-box">
    <p>You have listed <%= @guardian.first_name %> as an guardian. This means... </p>
  </div>

  <%= link_to '#' do %>
    <h5>See <%= @guardian.first_name %>'s details.</h5>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @guardian.notes.each do |note| %>
          <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @guardian.references.each do |reference| %>
        <p><%= reference.title %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @guardian.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>
