<div class="grey-box">
  <h2>Guardian Admin Page</h2>

  <h3><%= @guardian.first_name + " " + @guardian.last_name %></h3>

  <div class="blue-box">
    <p>Here include all admin references associated with this guardian.</p>
  </div>

  <% @guardian.references.each do |reference| %>
    <h4><%= reference.title %></h4>
    <p><%= reference.comments %></p>
    <p><%= reference.document %></p>

    <div id="edit-form"></div>

    <%= link_to "Edit", edit_user_guardian_reference_path(current_user, @guardian, reference.id), remote: true, class: "btn btn-transparent btn-default" %>
    <%= link_to "Delete", user_guardian_reference_path(current_user, @guardian, reference.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
  <% end %>

  <%= link_to "Add Reference", new_user_guardian_reference_path(current_user, @guardian.id), remote: true, class: "btn btn-transparent btn-default" %>

  <div id="new-form"></div>
</div>
