<div class="grey-box">
  <h2>My Guardians</h2>

  <div class="blue-box">
    <p>Guardians are...</p>
  </div>

  <h3>My Guardians</h3>
  <% @guardians.each do |guardian| %>
    <div class="detail-box">
      <div class="detail">
        <%= link_to user_guardian_path(current_user, guardian.id), class: 'profile-picture-inline' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h5><%= guardian.first_name + " " + guardian.last_name %></h5>
        <% end %>
      </div>
      <div class="detail">
        <%= link_to "Edit", edit_user_guardian_path(current_user, guardian.id), class: "btn btn-transparent btn-default" %>
        <%= link_to "Delete", user_guardian_path(current_user, guardian.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
      </div>
    </div>
  <% end %>

  <%= link_to "Add New Guardian", new_user_guardian_path, class: "btn btn-transparent btn-default" %>
</div>
