<div class="grey-box">
  <h2>Guardian Photos Page</h2>

  <h3><%= @guardian.first_name + " " + @guardian.last_name %></h3>

  <div class="blue-box">
    <p>Here include all photos associated with this guardian.</p>
  </div>

  <% @guardian.photos.each do |photo| %>
    <h4><%= photo.title %></h4>
    <p><%= photo.caption %></p>

    <div id="edit-photo-form"></div>

    <%= link_to "Edit", edit_user_guardian_photo_path(current_user, @guardian, photo.id), class: "btn btn-transparent btn-default" %>
    <%= link_to "Delete", user_guardian_photo_path(current_user, @guardian, photo.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
  <% end %>

  <%= link_to "Add Photo", new_user_guardian_photo_path(current_user, @guardian.id), remote: true, class: "btn btn-transparent btn-default" %>

  <div id="new-photo-form"></div>

</div>
