<% content_for(:navbar) do %>
  <%= render 'shared/navbars/navbar_sign_up' %>
<% end %>

<div class="navbar-box">
  <div class="container">
    <h3>Please enter some basic details about yourself.</h3>

    <p>This is important so we identify you and set up an account.</p>
  </div>
</div>

<div class="sign-up-box text-center">
  <h2>Basic Profile</h2>

  <%= simple_form_for(@user, url: wizard_path, method: :put, class: "sign-up-form") do |f| %>
    <%= f.input :first_name, placeholder: 'First Name' %>
    <%= f.input :last_name, placeholder: 'Last Name' %>
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'back', previous_wizard_path %>
</div>
