<h1>Notes#new</h1>
<p>Find me in app/views/notes/new.html.erb</p>

  <%= raise %>
  <%= simple_form_for [current_user, @recipient] do |f| %>
    <%= f.input :title%>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
