<!-- Sidebar for assignee show page on dashboard -->
<div class="sidebar hidden-xs">
  <div class="sidebar-header text-center">
    <h4><strong><%= @assignee.first_name %></strong></h4>
  </div>
  <div class="sidebar-tabs">
    <%= link_to user_assignee_path(current_user, @assignee),
      class: "sidebar-tab sidebar-tab-header active",
      id: "show-profile-sidebar-tab",
      remote: true do %>
      <% if @assignee.first_name[-1] == "s" %>
        <h5><strong><%= @assignee.first_name %>' Profile</strong></h5>
      <% else %>
        <h5><strong><%= @assignee.first_name %>'s Profile</strong></h5>
      <% end %>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab profile-tab",
        id: "show-details-sidebar-tab",
        remote: true do %>
      <h5><i class="fa fa-user" aria-hidden="true"></i> Details</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab profile-tab",
        id: "show-notes-sidebar-tab",
        remote: true do %>
      <h5><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Notes</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab profile-tab",
        id: "show-admin-sidebar-tab",
        remote: true do %>
      <h5><i class="fa fa-file-text-o" aria-hidden="true"></i> Admin References</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab profile-tab",
        id: "show-photos-sidebar-tab",
        remote: true do %>
      <h5><i class="fa fa-camera" aria-hidden="true"></i> Photo Library</h5>
    <% end %>

    <hr>

    <%# link_to '#',
        class: "sidebar-tab profile-tab",
        id: "show-videos-sidebar-tab",
        remote: true do %>
      <!-- <h5><i class="fa fa-video-camera" aria-hidden="true"></i> Video Library</h5> -->
    <%# end %>

    <hr>
  </div>
</div>


<div class="mobile-sidebar">
  >
</div>

<% content_for(:after_js) do %>
  <script>
    // Clicking on a different tab changes the content shown on the page
    $('.sidebar-tab').on('click', function(event){
      $('.sidebar-tabs').children().removeClass("active");
      $(this).addClass("active");
      var childIndex = $(this).index();
      $('#tab-content').children().addClass("hidden");
      $('.' + childIndex).removeClass("hidden");
      window.location.hash = $(this).attr('id').split("-")[0];
    });
    // Clicking on mobile sidebar opens full sidebar
    $('.mobile-sidebar').click(function(e) {
      console.log('hello');
      var sidebar = $('.sidebar');
      var mobileSidebar = $('.mobile-sidebar');
      if (sidebar.css('display') == 'none') {
        sidebar.css({'display' : 'unset'});
        mobileSidebar.css({'left' : '250px'});
        mobileSidebar.text('<');
      } else {
        sidebar.css({'display' : 'none'});
        mobileSidebar.css({'left' : '0'});
        mobileSidebar.text('>');
      }
    });
    //AJAX to load tab content without a refresh
    $('#show-profile-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/edit",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#show-details-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/edit",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#show-notes-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/notes",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#show-admin-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/references",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#show-photos-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/photos",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#show-videos-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/videos",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
  </script>
<% end %>
