<div class="sidebar">
  <div class="sidebar-header text-center">
    <h4><strong>Me</strong></h4>
  </div>
  <div class="sidebar-tabs">
    <%= link_to '#',
      class: "sidebar-tab sidebar-tab-header active",
      id: "profile-sidebar-tab",
      remote: true do %>
    <h5><strong>My Profile</strong></h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "call-to-action-sidebar-tab",
        remote: true do %>
      <h5>My Call to Action</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "personal-details-sidebar-tab",
        remote: true do %>
      <h5>My Personal Details</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "recipient-sidebar-tab",
        remote: true do %>
      <h5>My Family and Friends</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "guardian-sidebar-tab",
        remote: true do %>
      <h5>My Guardians</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "approver-sidebar-tab",
        remote: true do %>
      <h5>My Approvers</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab sidebar-tab-header",
        id: "digital-assets-sidebar-tab",
        remote: true do %>
      <h5><strong>My Digital Assets</strong></h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "proof-of-residency-sidebar-tab",
        remote: true do %>
      <h5>Proof of Residency</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "admin-references-sidebar-tab",
        remote: true do %>
      <h5>Admin References</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "photo-library-sidebar-tab",
        remote: true do %>
      <h5>My Photo Library</h5>
    <% end %>

    <hr>

    <%= link_to '#',
        class: "sidebar-tab",
        id: "video-library-sidebar-tab",
        remote: true do %>
      <h5>My Video Library</h5>
    <% end %>

    <hr>
  </div>
</div>
