<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_path('background.jpg') %>)">
  <div id="tab-content">
    <div class="container">
      <br>
      <div class="header-box">
        <h2><%= t('My Children') %></h2>
        <%= link_to t("Add Child"), new_user_assignee_path(I18n.locale, current_user, 'Child'), class: "btn orange-button" %>
      </div>

      <div class="assignees">
        <div class="row">
          <% @user.assignees.where('relationship = ?', 'Child').each do |assignee| %>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="card">
                <%= link_to user_assignee_path(current_user, assignee.id) do %>
                  <% if assignee.profile_picture %>
                    <%= cl_image_tag(assignee.profile_picture.path, transformation: [{width: 100, height: 100, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-card push-right") %>
                  <% elsif assignee.title == "Mrs" || assignee.title == "Ms" %>
                    <%= image_tag('girl.png', class: "index-icon") %>
                  <% else %>
                    <%= image_tag('boy.png', class: "index-icon") %>
                  <% end %>
                  <div class="card-description">
                    <h5 class="black-text"><strong><%= assignee.name_surname %></strong></h5>
                    <%= link_to t("View"), user_assignee_path(current_user, assignee.id), class: "btn btn-info btn-default btn-ice reference-link" %>
                    <%= link_to t("Delete"), user_assignee_path(current_user, assignee.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('.active').removeClass('active');
  </script>
<% end %>
