<br>

<div class="grey-box">
  <h2>My Digital Assets</h2>

  <div class="blue-box">
    <p>You can pass on digital assets so that...</p>
  </div>

  <h3>My Data</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h5>Total Assets</h5>
      <p>3 Documents</p>
      <p>8 Photos</p>
      <p>1 Video</p>
      <p>28 Mb</p>
    </div>
  </div>

  <h3>My Uploads</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @user.notes.each do |note| %>
          <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @user.references.each do |reference| %>
        <p><%= reference.title %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @user.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>
