<br>

<div class="container-box">
  <h2>My Digital Assets</h2>

  <div class="blue-box">
    <p>You can pass on digital assets so that...</p>
  </div>

  <div class="platform-box">
    <div class="platform platform-digital">
      <i class="fa fa-home" aria-hidden="true"></i>
      <h4>Proof of Residency</h4>
    </div>

    <div class="platform platform-digital">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h4>Admin References</h4>
    </div>

    <div class="platform platform-digital">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <h4>Notes</h4>
    </div>

    <div class="platform platform-digital">
      <i class="fa fa-camera" aria-hidden="true"></i>
      <h4>Photos</h4>
    </div>

    <div class="platform platform-digital">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <h4>Videos</h4>
    </div>
  </div>

  <h3>My Data</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h5>Total Assets</h5>
      <p>3 Documents</p>
      <p>8 Photos</p>
      <p>1 Video</p>
      <p>28 Mb</p>
    </div>
  </div>

  <h3>My Uploads</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @user.notes.each do |note| %>
          <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @user.references.each do |reference| %>
        <p><%= reference.title %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @user.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>
