<br>

<div class="container-box">
  <div class="header-box">
    <h2>My Digital Assets</h2>
    <%= link_to "#", class: "btn btn-info btn-default", id: "profile-icon" do %>
      <i class="fa fa-user cloud-icon" aria-hidden="true"></i>
      <h4>Profile</h4>
    <% end %>
  </div>

  <br>

  <div class="blue-box">
    <p>You can pass on digital assets so that...</p>
  </div>

  <div class="platform-box">
    <%= link_to "#", class: "platform platform-digital", id: "user-proof-icon" do %>
      <i class="fa fa-home" aria-hidden="true"></i>
      <h4>Proof of Residency</h4>
    <% end %>

    <%= link_to "#", class: "platform platform-digital", id: "user-admin-icon" do %>
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h4>Admin References</h4>
    <% end %>

    <%= link_to "#", class: "platform platform-digital", id: "user-notes-icon" do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <h4>Notes</h4>
    <% end %>

    <%= link_to "#", class: "platform platform-digital", id: "user-photo-icon" do %>
      <i class="fa fa-camera" aria-hidden="true"></i>
      <h4>Photos</h4>
    <% end %>

    <%= link_to "#", class: "platform platform-digital", id: "user-video-icon" do %>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <h4>Videos</h4>
    <% end %>
  </div>

  <h3>My Data</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h5>Total Assets</h5>
      <p>3 Documents</p>
      <p>8 Photos</p>
      <p>1 Video</p>
      <p>28 Mb</p>
    </div>
  </div>

  <h3>My Uploads</h3>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @user.notes.each do |note| %>
          <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @user.references.each do |reference| %>
        <p><%= reference.title %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @user.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Clicking on platform icons loads on profile tab loads tab content
    $('#user-proof-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#proof-of-residency-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/proof",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#user-admin-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#admin-references-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/references",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#user-notes-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#notes-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/notes",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#user-photo-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#photo-library-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/photos",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#user-video-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#video-library-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/videos",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    // Clicking on digital assets icon loads tab content
    $('#profile-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#profile-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/profile",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
  </script>
<% end %>
