<div class="profile-picture-inline">
  <%= image_tag("user.png", class: "avatar-large") %>
  <h4>John Hartaway</h4>
</div>

<h3 class="title-margin">My Profile</h3>

<div class="platform-box">
  <div class="platform platform-profile">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    <h4>Call to Action</h4>
  </div>

  <div class="platform platform-profile">
    <i class="fa fa-id-card-o" aria-hidden="true"></i>
    <h4>Personal Details</h4>
  </div>

  <div class="platform platform-profile">
    <i class="fa fa-eye" aria-hidden="true"></i>
    <h4>Guardians</h4>
  </div>

  <div class="platform platform-profile">
    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
    <h4>Approvers</h4>
  </div>

  <div class="platform platform-profile">
    <i class="fa fa-users" aria-hidden="true"></i>
    <h4>Friends and Family</h4>
  </div>
</div>

<h3 class="title-margin">My Digital Assets</h3>

<div class="platform-box">
  <div class="platform platform-digital">
    <i class="fa fa-home" aria-hidden="true"></i>
    <h4>Proof of Residency</h4>
  </div>

  <div class="platform platform-digital">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <h4>Admin References</h4>
  </div>

  <div class="platform platform-digital">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <h4>Notes</h4>
  </div>

  <div class="platform platform-digital">
    <i class="fa fa-camera" aria-hidden="true"></i>
    <h4>Photos</h4>
  </div>

  <div class="platform platform-digital">
    <i class="fa fa-video-camera" aria-hidden="true"></i>
    <h4>Videos</h4>
  </div>
</div>

<div class="grey-box">
  <h3>My Call to Action</h3>

  <div class="detail-box">
    <div class="detail">
      <p>Will</p>
    </div>
    <div class="detail">
      <p>Add</p>
      <p>Delete</p>
    </div>
  </div>

  <hr>

  <h3>My Personal Details</h3>

  <hr>

  <h3>My Partner</h3>
    <% @user.show_partner.each do |recipient| %>
      <div class="detail-box">
        <div class="detail">
          <%= recipient.first_name + ' ' + recipient.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, recipient.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, recipient.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
  <hr>

  <h3>My Children</h3>
    <% @user.show_children.each do |recipient| %>
      <div class="detail-box">
        <div class="detail">
          <%= recipient.first_name + ' ' + recipient.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, recipient.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, recipient.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
  <hr>

  <h3>Guardians</h3>
    <% @user.guardians.each do |guardian| %>
      <div class="detail-box">
        <div class="detail">
          <%= guardian.first_name + ' ' + guardian.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, guardian.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, guardian.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
  <hr>

  <h3>Approvers</h3>
    <% @user.approvers.each do |approver| %>
      <div class="detail-box">
        <div class="detail">
          <%= approver.first_name + ' ' + approver.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, approver.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, approver.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
  <hr>

  <h3>Family and Friends</h3>
    <% @user.show_mother.each do |recipient| %>
      <div class="detail-box">
        <div class="detail">
          <%= recipient.first_name + ' ' + recipient.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, recipient.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, recipient.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
    <% @user.show_friends.each do |recipient| %>
      <div class="detail-box">
        <div class="detail">
          <%= recipient.first_name + ' ' + recipient.last_name %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_recipient_path(current_user, recipient.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_recipient_path(current_user, recipient.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
    <% end %>
</div>

<br>

<div class="grey-box">
  <h3>My Digital Assets</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <% @user.notes.each do |note| %>
        <%= note.title %>
      <% end %>
      <hr>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>

<br>
