<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_path('background.jpg') %>)">
  <div id="tab-content">
    <br><br>

    <div class="container profile-cards">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <% unless @user.details_completed? %>
            <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"><span class="warning-tooltip"><%= t('details incomplete tooltip') %></span></i>

          <% end %>
          <h4 class="profile-card-link"><%= link_to t('My Details'), user_path(current_user), class: "details-link" %><span class="card-tooltip"><%= t('my details tooltip') %></span></h4>
          <hr>
          <div class="card-content card-overflow">
            <%= link_to user_path(current_user) do %>
              <p class="name-tag"><strong><%= @user.try(:name_surname) %></strong></p>
            <% end %>

            <% if @user.citizenship %>
              <p><%= @user.citizenship + " " + t('Citizen') %></p>
            <% else %>
              <p class="notice-text"><%= t('citizenship required') %></p>
            <% end %>

            <% if @user.date_of_birth && @user.date_of_birth != "" %>
              <p><span class="category-tag"><%= t('DoB') %></span><%= ": " + @user.date_of_birth %></p>
            <% else %>
              <p class="notice-text"><%= t('date of birth required') %></p>
            <% end %>

            <p><span class="category-tag"><%= t('Email')%></span><%= ": " + @user.email %></p>

            <% if @user.phone_number && @user.phone_number != "" %>
              <p><span class="category-tag"><%= t('Phone Number') %></span><%= ": " + @user.phone_number %></p>
            <% else %>
              <p class="notice-text"><%= t('phone number required') %></p>
            <% end %>

            <% if @user.address_line_1 && @user.address_line_1 != "" %>
              <p><span class="category-tag"><%= t('Address') %></span><%= ": " + @user.address_line_1 %><%= ", " + @user.address_line_2 if @user.address_line_2 %></p>
              <p><%= @user.try(:city) %><%= ", " + @user.postcode if @user.postcode %><%= ", " + @user.country if @user.country %></p>
            <% else %>
              <p class="notice-text"><%= t('address required') %></p>
            <% end %>

            <br>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if @user.assignees.where('relationship = ?', 'Partner').last %>

          <div class="alt-card black-links">
            <% @user.assignees.where('relationship = ?', 'Partner').each do |partner| %>
              <% unless partner.details_completed? %>
                <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"><span class="warning-tooltip"><%= t('details incomplete tooltip') %></span></i>
              <% end %>
              <h4 class="profile-card-link"><%= link_to t("My Partner"), user_assignee_path(@user, partner) , class: "partner-link" %><span class="card-tooltip"><%= t('my partner tooltip') %></span></h4>
              <hr>
              <div class="card-content card-overflow">
                <p class="name-tag"><strong><%= link_to partner.name_surname, user_assignee_path(@user, partner) %></strong></p>
                <p><%= partner.phone_number %></p>
                <br>
              </div>
            <% end %>
          </div>

        <% else %>

          <div class="alt-card black-links">
            <h4><%= link_to t("My Partner"), "#" , class: "partner-link" %></h4>
            <hr>
            <div class="card-content card-overflow">
              <p><%= link_to t("assign a partner"), new_user_assignee_path(I18n.locale, current_user, 'Recipient', relationship: 'Partner'), class: "proof-card" %></p>
            </div>
          </div>

        <% end %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4 class="profile-card-link"><%= link_to t("My Children"),user_children_path(current_user), class: "children-link" %><span class="card-tooltip"><%= t('my children tooltip') %></span></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.children.empty? %>

              <% @user.assignees.where('relationship = ?', 'Child').each do |child| %>
                <% unless child.details_completed? %>
                  <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"><span class="warning-tooltip"><%= t('details incomplete tooltip') %></span></i>
                <% end %>
                <p class="name-tag"><strong><%= link_to child.try(:name_surname), user_assignee_path(@user, child) %></strong></p>
                <p><%= child.try(:phone_number) %></p>
              <% end %>

            <% else %>

              <p><%= link_to t('assign children'), new_user_assignee_path(I18n.locale, current_user, 'Child'), class: "proof-card" %></p>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4 class="profile-card-link"><%= link_to t("My Guardians"), user_guardians_path(current_user), class: "guardian-link" %><span class="card-tooltip"><%= t('my guardians tooltip') %></span></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.guardians.empty? %>

              <% @user.guardians.each do |guardian| %>
                <% unless guardian.details_completed? %>
                  <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"><span class="warning-tooltip"><%= t('details incomplete tooltip') %></span></i>
                <% end %>
                <p class="name-tag"><strong><%= link_to guardian.name_surname, user_assignee_path(@user, guardian) %></strong></p>
                <p><%= guardian.try(:phone_number) %></p>
              <% end %>

            <% else %>

              <p><%= link_to t('assign guardians'), new_user_assignee_path(I18n.locale, current_user, 'Guardian'), class: "proof-card" %></p>

            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <%# if @user.proofs.empty? %>
            <i class="fa fa-exclamation-circle warning-circle" aria-hidden="true"><span class="warning-tooltip"><%= t('No proof of residency') %></span></i>
          <%# end %>
          <h4 class="profile-card-link"><%# link_to t("Proof of Residency"), user_proofs_path(current_user) %><span class="card-tooltip"><%= t('my proof tooltip') %></span></h4>
          <hr>
          <div class="card-content card-overflow">
            <%# if !@user.proofs.empty? %>

              <%# @user.proofs.each do |proof| %>
                <!-- <p>- <%# proof.title %></strong></p> -->
              <%# end %>

            <%# else %>

              <p><%# link_to t('assign proof'), user_proofs_path(current_user), class: "proof-card" %></p>

            <%# end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="alt-card black-links">
          <h4 class="profile-card-link"><%= link_to t("Notes"), user_notes_path(current_user) %><span class="card-tooltip"><%= t('my notes tooltip') %></span></h4>
          <hr>
          <div class="card-content card-overflow">
            <% if !@user.notes.empty? %>

              <% @user.notes.reverse.each do |note| %>
                <p><%= note.title %></strong></p>
              <% end %>

            <% else %>

              <p><%= link_to t('assign notes'), user_notes_path(current_user), class: "proof-card" %></p>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
