<br>

<div class="grey-box">
  <h2>Proof of Residency</h2>

  <div class="blue-box">
    <p>In order to authenticate your...</p>
  </div>

  <div id="proof-of-residency">
    <% if @user.proof_of_residency %>

      <h3>Your proof of residency:</h3>
      <div id="proof-image">
        <%= cl_image_tag(@user.proof_of_residency, { size: '250x250'}) %>
      </div>
      <div class="invisible" id="proof-upload-form">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :proof_of_residency, as: :attachinary %>
          <%= f.button :submit, "Update Proof of Residency" %>
        <% end %>
      </div>
      <div class="text-center">
        <p class="btn btn-transparent btn-default" id="proof-upload-edit">Edit</p>
        <p class="btn btn-transparent btn-default">Remove</p>
      </div>
      <h4>Comments</h4>
      <div id="proof-comment-content">
        <p><%= @user.proof_comments %></p>
      </div>
      <div class="invisible" id="proof-comment-form">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :proof_comments %>
          <%= f.button :submit, "Update Proof of Residency" %>
        <% end %>
      </div>
      <p class="btn btn-transparent btn-default" id="proof-comment-edit">Edit</p>

    <% else %>

      <h5>You have not uploaded a proof of residency.</h5>
      <p>Please use the form below to do so:</p>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :proof_of_residency, as: :attachinary %>
        <%= f.input :proof_comments %>
        <%= f.button :submit, "Submit Proof of Residency" %>
      <% end %>

    <% end %>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    // Show comment edit form
    $('#proof-comment-edit').on('click', function(e) {
      $('#proof-comment-content').addClass('invisible');
      $('#proof-comment-edit').addClass('invisible');
      $('#proof-comment-form').removeClass('invisible');
    });

    // Removing comment edit form after update
    $('#proof-comment-form button').on('click', function(e) {
      e.prevent_default;
      $('#proof-comment-form').addClass('invisible');
      $('#proof-comment-edit').removeClass('invisible');
    });

    // Show upload edit form
    $('#proof-upload-edit').on('click', function(e) {
      console.log('hello')
      $('#proof-upload-form').removeClass('invisible');
    });

    // Removing upload edit form after update
    $('#proof-upload-form button').on('click', function(e) {
      e.prevent_default;
      $('#proof-upload-form').addClass('invisible');
      $('#proof-upload-edit').removeClass('invisible');
    });
  </script>
<% end %>
