<div class="include-sidebar">

  <%= render 'shared/scrollmenu' %>

  <div class="dashboard-box">
    <div id="tab-content">
      <div class="0" id="my-profile-content">
        <%= render file: 'users/profile' %>
      </div>

      <div class="2 hidden" id="call_to_action-content">
        <%= render file: 'users/action' %>
      </div>

      <div class="4 hidden" id="personal-details-content">
        <%= render file: 'users/personal_details' %>
      </div>

      <div class="6 hidden" id="guardian-content">
        <%= render file: 'users/' + @user.id + '/guardians' %>
      </div>

      <div class="8 hidden" id="approver-content">
        <%= render file: 'users/' + @user.id + '/approvers' %>
      </div>

      <div class="10 hidden" id="family-and-friends-content">
        <%= render file: 'users/' + @user.id + '/recipients' %>
      </div>

      <div class="12 hidden" id="my-digital-assets-content">
        <%= render file: 'users/digital' %>
      </div>

      <div class="14 hidden" id="proof-of-residency-content">
        <%= render file: 'users/proof' %>
      </div>

      <div class="16 hidden" id="admin-references-content">
        <%= render file: 'users/admin' %>
      </div>

      <div class="18 hidden" id="notes-content">
        <%= render file: 'users/notes' %>
      </div>

      <div class="20 hidden" id="photo-library-content">
        <%= render file: 'users/photos' %>
      </div>

      <div class="22 hidden" id="video-library-content">
        <%= render file: 'users/videos' %>
      </div>
    </div>
  </div>

  <%= yield(:sidebar) %>

</div>

