<div class="include-sidebar">

  <%= render 'shared/sidebar' %>

  <div class="tabs">
      <%= link_to '#',
          class: "tab tab-header active",
          id: "my-profile-tab" do %>
        <h3>Me</h3>
      <% end %>

      <%= link_to '#',
          class: "tab",
          id: "call-to-action-tab" do %>
        <h3>Partner</h3>
      <% end %>

      <%= link_to '#',
          class: "tab",
          id: "personal-details-tab" do %>
        <h3>Children</h3>
      <% end %>

      <%= link_to '#',
          class: "tab",
          id: "partner-tab" do %>
        <h3>Guardians</h3>
      <% end %>

      <%= link_to '#',
          class: "tab",
          id: "children-tab" do %>
        <h3>Approvers</h3>
      <% end %>

      <%= link_to '#',
          class: "tab",
          id: "guardian-tab" do %>
        <h3>Friends & Family</h3>
      <% end %>
  </div>

  <div class="container">
    <div id="tab-content">
      <div class="0" id="my-profile-content">
        <%= render 'users/profile/my_profile' %>
      </div>

      <div class="2 hidden" id="call_to_action-content">
        <%= render 'users/profile/call_to_action' %>
      </div>

      <div class="4 hidden" id="personal-details-content">
        <%= render 'users/profile/personal_details' %>
      </div>

      <div class="6 hidden" id="partner-content">
        <%= render 'users/profile/partner' %>
      </div>

      <div class="8 hidden" id="children-content">
        <%= render 'users/profile/children' %>
      </div>

      <div class="10 hidden" id="guardian-content">
        <%= render 'users/profile/guardian' %>
      </div>

      <div class="12 hidden" id="approver-content">
        <%= render 'users/profile/approver' %>
      </div>

      <div class="14 hidden" id="friends-and-family-content">
        <%= render 'users/profile/friends_and_family' %>
      </div>

      <div class="16 hidden" id="my-digital-assets-content">
        <%= render 'users/digital_assets/my_digital_assets' %>
      </div>

      <div class="18 hidden" id="proof-of-residency-content">
        <%= render 'users/digital_assets/proof_of_residency' %>
      </div>

      <div class="20 hidden" id="admin-references-content">
        <%= render 'users/digital_assets/admin_references' %>
      </div>

      <div class="22 hidden" id="photo-library-content">
        <%= render 'users/digital_assets/photo_library' %>
      </div>

      <div class="24 hidden" id="video-library-content">
        <%= render 'users/digital_assets/video_library' %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    // // stores the anchor from the url in a variable
    // var hash = window.location.hash;

    // // If page is reloaded then the same tab will be shown
    // if (hash !== "") {
    //   $('.tab').removeClass("active");
    //   $(hash + '-tab').addClass("active");
    //   var childIndex = $(hash + '-tab').index();
    //   $('#tab-content').children().addClass("hidden");
    //   $('.' + childIndex).removeClass("hidden");
    // }

    // // This makes sure to load the active tab content when first loading the page
    // $('.active').trigger('click');

    // // Clicking on a different tab changes the content shown on the page
    // $('.tab').on('click', function(event){
    //   $('.tabs').children().removeClass("active");
    //   $(this).addClass("active");
    //   var childIndex = $(this).index();
    //   $('#tab-content').children().addClass("hidden");
    //   $('.' + childIndex).removeClass("hidden");
    //   window.location.hash = $(this).attr('id').split("-")[0];
    // })
  </script>
<% end %>
