<h1>Users#show</h1>
<p>The user/client's main dashboard</p>

<%= render 'shared/sidebar' %>

<div class="tabs">
    <%= link_to '#',
        class: "tab active",
        id: "profile-tab", remote: true do %>
      <h3>My Profile</h3>
    <% end %>

    <%= link_to '#', class: "tab", id: "people-tab",
        remote: true do %>
      <h3>My People</h3>
    <% end %>

    <%= link_to '#', class: "tab", id: "photo-tab",
        remote: true do %>
      <h3>Photos & Videos</h3>
    <% end %>

    <%= link_to '#',
        class: "tab", id: "residence-tab", remote: true do %>
      <h3>Proof of Residence</h3>
    <% end %>

    <%= link_to '#',
        class: "tab",
        id: "admin-tab", remote: true do %>
      <h3>Administrative Papers</h3>
    <% end %>
</div>

<div id="user-details" class="details-box">

  <img src="app/assets/images/user.png" alt="user" class="avatar-large">
  <p>Edit Profile Picture</p>

  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :citizenship %>
    <%= f.input :date_of_birth %>
    <%= f.input :phone_number %>
    <%= f.input :address_line_1 %>
    <%= f.input :address_line_2 %>
    <%= f.input :town %>
    <%= f.input :postcode %>
    <%= f.input :country %>

    <%= f.button :submit %>
  <% end %>

</div>
