<div class="scrollmenu">
  <div class="scrollbox text-center">
    <h3>Me</h3>
    <div class="scrollitem active" id="scrollmenu-me">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4><%= @user.first_name %></h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox text-center">
    <h3>Partner</h3>
    <% @user.recipients.where('relationship = ?', 'Partner').each do |partner| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= partner.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Children</h3>
    <% @user.recipients.where('relationship = ?', 'Child').each do |child| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= child.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Guardians</h3>
    <% @user.guardians.each do |guardian| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= guardian.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Approvers</h3>
    <% @user.approvers.each do |approver| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= approver.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Friends & Family</h3>
    <% @user.recipients.where('relationship = ?', 'Mother').each do |recipient| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= recipient.first_name %></h4>
        <% end %>
      </div>
    <% end %>

    <% @user.recipients.where('relationship = ?', 'Friend').each do |recipient| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= recipient.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Changes active tab after click
    $('.scrollitem').on('click', function(event){
      $('.scrollmenu').children().removeClass("active");
      $(this).addClass("active");

    // AJAX to load tab content without a refresh
    $('#scrollmenu-me').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/profile",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
    $('#call-to-action-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/call_to_action",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
    $('#personal-details-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/edit",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
    $('#approver-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/approvers",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
    $('#guardian-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/guardians",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
    $('#recipient-sidebar-tab').click(function(e){
      e.preventDefault();
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/recipients",
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });

  </script>
<% end %>
