<div class="scrollmenu">
  <div class="scrollbox text-center">
    <h3>Me</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4><%= @user.first_name %></h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox text-center">
    <h3>Partner</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <%= @user.recipients.where('relationship = ?', 'Partner').each do |partner| %>
          <h4><%= partner.first_name %></h4>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="scrollbox">
    <h3>Children</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h4>Art</h4>
      <% end %>
    </div>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4>Phillip</h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox">
    <h3>Guardians</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h4>Rebecca</h4>
      <% end %>
    </div>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h4>Betty</h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox">
    <h3>Approvers</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4>George</h4>
      <% end %>
    </div>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4>William</h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox">
    <h3>Friends & Family</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h4>Martha</h4>
      <% end %>
    </div>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4>Mike</h4>
      <% end %>
    </div>
  </div>
</div>
