<div class="scrollmenu">
  <div class="scrollbox text-center">
    <h3>Me</h3>
    <div class="scrollitem">
      <%= link_to '#' do %>
        <%= image_tag("user.png", class: "avatar-large") %>
        <h4><%= @user.first_name %></h4>
      <% end %>
    </div>
  </div>

  <div class="scrollbox text-center">
    <h3>Partner</h3>
    <% @user.recipients.where('relationship = ?', 'Partner').each do |partner| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= partner.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Children</h3>
    <% @user.recipients.where('relationship = ?', 'Child').each do |child| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= child.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Guardians</h3>
    <% @user.guardians.each do |guardian| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= guardian.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Approvers</h3>
    <% @user.approvers.each do |approver| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= approver.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="scrollbox">
    <h3>Friends & Family</h3>
    <% @user.recipients.where('relationship = ?', 'Mother').each do |recipient| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user2.png", class: "avatar-large") %>
          <h4><%= recipient.first_name %></h4>
        <% end %>
      </div>
    <% end %>

    <% @user.recipients.where('relationship = ?', 'Friend').each do |recipient| %>
      <div class="scrollitem">
        <%= link_to '#' do %>
          <%= image_tag("user.png", class: "avatar-large") %>
          <h4><%= recipient.first_name %></h4>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
