<div class="grey-box">
  <h2>Recpient Admin Page</h2>

  <h3><%= @recipient.first_name + " " + @recipient.last_name %></h3>

  <div class="blue-box">
    <p>Here include all admin references associated with this recipient.</p>
  </div>

  <% @recipient.references.each do |reference| %>
    <h4><%= reference.title %></h4>
    <p><%= reference.comments %></p>
    <p><%= reference.document %></p>
    <%= link_to "Edit", edit_user_recipient_reference_path(current_user, @recipient, reference.id), remote: true, class: "btn btn-transparent btn-default" %>
    <%= link_to "Delete", user_recipient_reference_path(current_user, @recipient, reference.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
  <% end %>

  <%= link_to "Add Reference", new_user_recipient_reference_path(current_user, @recipient.id), remote: true, class: "btn btn-transparent btn-default" %>
</div>
