<% content_for(:navbar) do %>
  <%= render 'shared/navbars/navbar_home' %>
<% end %>

<!-- Banner  -->
<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path('banner.jpg') %>);">
    <div class="banner-text" id="bt-1">
      <h5><%= t('banner quote') %></h5><br/>
    </div>
    <div class="banner-text" id="bt-2">
      <h4><strong><%= t('Protect your residency right') %></strong><br><br><%= t('collect proof, designate guardians') %><br><%= t('access anytime, anywhere') %></h4>
    </div>

    <div class="banner-button">
      <% if user_signed_in? %>
        <%= link_to user_profile_path(current_user) do %>
          <button id="banner-button" class="btn btn-transparent"><%= t('protect your resident status') %></button>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <button id="banner-button" class="btn btn-transparent"><%= t('protect your resident status') %></button>
        <% end %>
        <%# link_to new_user_registration_path, data: { toggle: "modal", target: ".signup-modal-sm" } do %>
         <!--  <button id="banner-button" class="btn btn-transparent">Protect your Resident Status</button> -->
        <%# end %>
      <% end %>
    </div>

    <!-- Floating Arrow -->
    <%= link_to "#media-quotes", id: "home-arrow" do %>
      <div class="floating">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
    <% end %>
</div>

<!-- Sign-up modal -->
<div class="modal fade signup-modal-sm" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <% render 'pages/new_registration', resource: User.new, resource_name: :user %>
    </div>
  </div>
</div>

<div class="modal fade signin-modal-sm" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= render 'pages/new_session', resource: User.new, resource_name: :user  %>
      <%# render file: 'devise/sessions/new', resource: User.new, resource_name: :user %>
    </div>
  </div>
</div>

<!-- Space below banner -->
<!-- <div class="banner-space"></div> -->

<!-- Caroussel - Medias -->
<div class="wrapper overflow-hidden">
  <section id="media-quotes" class="container content-section text-center home-section">
    <h2><%= t('Why MyWill') %></h2>
    <p><%= t('why description html') %></p>
    <div class="progress-width">
      <div id="carousel-container">
        <div class="cloud9-carousel" id="cloud9-carousel">

          <div class="cloud9-item teal-border black-links">
            <%= link_to "http://www.independent.co.uk/news/uk/home-news/immigration-eu-citizens-brexit-referendum-deportation-home-office-3-million-a7451476.html", target: "_blank" do %>
              <p>"It can take up to <strong>26 weeks for kids to join their relatives</strong> after their parents disapear."</p>
              <%= image_tag('logo-govuk.png', class: "carousel-image") %>
            <% end %>
          </div>

          <div class="cloud9-item orange-border black-links">
            <%= link_to "https://www.theguardian.com/politics/2016/dec/14/eu-citizens-collect-proof-of-living-in-uk-helena-kenney-qc-lords-brexit-reports", target: "_blank" do %>
              <p>"Over <strong>24,000 children are bereaved of a parent each year</strong> in Britain and yet very few people have chosen a legal guardian for their little ones"</p>
              <%= image_tag('thetelegraph.png', class: "carousel-image") %>
            <% end %>
          </div>
          <div class="cloud9-item purple-border black-links">
            <%= link_to "https://www.gov.uk/eea-registration-certificate/overview", target: "_blank" do %>
              <p>“<strong>EU family Law and Passport does not apply to UK.</strong>"</p>
              <%= image_tag('logo-govuk.png', class: "carousel-image") %>
            <% end %>
          </div>
          <div class="cloud9-item brown-border black-links">
            <%= link_to "https://www.theguardian.com/lifeandstyle/2012/nov/24/lizzie-enfield-guardian-for-children", target: "_blank" do %>
              <p>“If the worst should happen...Under English law, a parent with "parental responsibility" can appoint legal guardians for children under 18 should anything happen to them. <strong>This can be an informal arrangement between friends, or be written</strong> formally into your will..."</p>
              <%= image_tag('theguardian.png', class: "carousel-image") %>
            <% end %>
          </div>
          <div class="cloud9-item green-border black-links">
            <%= link_to "http://www.theweek.co.uk/brexit/73161/will-eu-citizens-be-allowed-to-stay-in-uk-after-brexit", target: "_blank" do %>
              <p>“Will EU citizens be allowed <strong>to stay after brexit</strong>?"</p>
              <%= image_tag('theweek.png', class: "carousel-image") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- What do we do for you? -->
<section class="container text-center home-section" id="instructions">
  <h2><%= t('what does it do for me') %></h2>
  <p><%= t('what description 1') %><br><%= t('what description 2') %></p>
  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
      <%= image_tag('vault.png', class: "feature-image-vault") %>
      <h4><strong><%= t('Collect and Save') %></strong></h4>
      <p><%= t('collect description html') %></p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
       <%= image_tag('guardian.png', class: "feature-image-guardian") %>
      <h4><strong><%= t('Designate Guardians') %></strong></h4>
      <p><%= t('designate description html') %></p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
      <%= image_tag('proof.png', class: "feature-image-proof") %>
      <h4><strong><%= t('Unlock and Prove') %></strong></h4>
      <p><%= t('unlock description html') %></strong></p>
    </div>
  </div>
</section>

<!-- Feedback -->
<section class="home-section" id="feedback" style="background-image: linear-gradient(-225deg, rgba(48,70,60,0.6) 20%, rgba(57,117,94,0.4) 80%), url(<%= image_path('home2.jpg') %>);">
  <div class="container text-center" id="reviews">
    <h2><%= t('Act now') %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="review-box">
          <p><%= t('home quote 1') %></p>
          <p><strong><%= t('quote owner 1') %></strong></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="review-box">
          <p><%= t('home quote 2') %></p>
          <p><strong><%= t('quote owner 2') %></strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing -->

<section class="home-section" id="comparison">
 <div class="container text-center">
    <h2><%= t('do I need to pay') %></h2>
    <p><%= t('pricing details html') %><br><%= t('privacy information html') %></p><br>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="comparison-box my-will">
            <h3>Free</h3>
            <h5>For the basics functions<br>and before everything because kids are important.</h5>
            <hr>
            <ul>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p> <%= t('designate guardians') %></p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p><%= t('update anytime') %></p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p><%= t('trust infrastructure') %></p>
              </li>
            </ul>
            <div class="versus-circle">
              <p>VS</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 ">
          <div class="comparison-box lawyer-will">
            <h3>£200</h3>
            <h5>Average Lawyer <br> hourly fee</h5>
            <hr>
            <ul>
              <li class="comparison-li text-left">
                <%= icon('times', class: "comparison-icon") %>
                <p class="green"> <%= t('designate guardians') %></p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('times', class: "comparison-icon") %>
                <p> <%= t('update anytime') %> </p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('times', class: "comparison-icon") %>
                <p><%= t('trust infrastructure') %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Registration -->

<section class="container text-center home-section" id="registration">
  <h2><%= t('sign up now to prove residency') %></h2>
  <span class="registration text">
  </span>
  <span class="call-to-action-text">
    <p><%= t('call to sign up text') %></p>
  </span>
  <%= link_to new_user_registration_path, class: "white-text" do %>
    <button class="btn orange-button"><%= t('Sign Up') %></button>
  <% end %>
</section>

<%= content_for(:after_js) do %>
  <script>
    // Devise modal AJAX
    // $( "#productForm" ).submit(function( e ) {

    //   e.preventDefault();

    //   $.ajax({
    //     type: "POST",
    //     url: <% session_path(resource_name) %>,
    //     data: $(this).serializeArray(),
    //     contentType: "application/json",
    //     success: function (form) {
    //       $("#contact-success").modal('show');
    //     }
    //   });
    // });

    // $("#new_user").bind("ajax:success", function(e, data, status, xhr) {
    //   console.log('hello');
    //   if (data.success) {
    //     $('#sign_up').modal('hide');
    //     $('#sign_up_button').hide();
    //     return $('#submit_comment').slideToggle(1000, "easeOutBack");
    //   } else {
    //     return alert('failure!');
    //   }
    // });
    $('#new_user').bind('ajax:success', function(e, data, status, xhr){
      console.log(data);
      if(data.success){
        $('.modal-form').prepend('<p>signed in<p>')
      } else{
        console.log('didnt work')
        $('.modal-form').prepend('<p>login failed</p>')
      }
    })


    // Navbar colour change on scroll
    $(document).ready(function(){
      $(window).scroll(function(){
        if($(window).scrollTop()>200)
          $(".navbar-wagon").css({"background-color":  "#57BB90", "box-shadow": "0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03)"});
        else
          $(".navbar-wagon").css({"background-color": "rgba(255, 255, 255, 0.2)", "box-shadow": "none"});
      });
    });

    // Banner image cycler
    $("#banner2").hide();
    $('#banner3').hide();

    setInterval(function() {
      $('#slideshow > img:first')
        .fadeOut(2000)
        .next()
        .fadeIn(2000)
        .end()
        .appendTo('#slideshow');
    }, 6000);

    // Banner gradient resize
    $(".banner-gradient").css({'height':($("#banner1").height()+'px')});

    window.onresize = function() {
      $(".banner-gradient").css({'height':($("#banner1").height()+'px')});
    };

    // Home arrow scroll
    $('#home-arrow').click(function(e){
      e.preventDefault();
      $('html, body').animate({scrollTop : 650},800);
      return false;
    });

    //// Footer Scrolls
    // Home
    $('#footer-home').click(function(e){
      e.preventDefault();
      $('html, body').animate({scrollTop : 0},1000);
      return false;
    });
    // How
    $("#footer-how").click(function(e) {
      e.preventDefault();
      $('html, body').animate({
        scrollTop: $("#instructions").offset().top
      }, 1500);
    });
    // Pricing
    $("#footer-price").click(function(e) {
      e.preventDefault();
      $('html, body').animate({
        scrollTop: $("#comparison").offset().top
      }, 1500);
    });
  </script>
<% end %>
