<!-- Banner  -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,128,0.4) 0%, rgba(0,36,51,0.4) 50%), url(<%= image_path('banner1.jpg') %>);">
  <div class="banner-float">
    <p>Brexit means a lot of uncertainties...</p>
    <h4>Protect your residential status. Collect and save your proof of presence.</h4>
    <h4>Get support from your network.</h4>
  </div>

  <div class="banner-content zero-text-margin">

    <%= link_to new_user_session_path, class: "white-text" do %>
      <button class="btn btn-secondary white-button">Be Ready for Brexit</button>
    <% end %>
    <p></p>
  </div>

  <div class="banner-strip">
    <p>Who will look after your children if you die? Strangers?</p>
    <p>Living in the UK as a Polish citizen? Why you should act now?</p>
  </div>
</div>


<!-- What do we do for you? -->
<section class="container text-center" id="instructions">
  <h2>What we do for you</h2>
  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
      <%= image_tag('NotaUK.png', class: "feature-image") %>
      <h4>Not a UK Citizen</h4>
      <p class="text-justify">Brexit is threatening your eligibility to stay in the UK. You could lose most of your rights. We have created a unique web application to get prepared for adverse events.</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
      <%= image_tag('Vault.png', class: "feature-image") %>
      <h4>Protect your data and your family</h4>
      <p class="text-justify">We collect your digital-only guardian nomination content. You store your proof of residency prior to the referendum, your will, your nessages, any information and data you would like to pass to your friends and family. We use the Blockchain infrastructure for your guardian nomination authenticity and we also store your personal data through two layers of security.</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="flexbox-vertical feature">
      <%= image_tag('network1.png', class: "feature-image") %>
      <h4>Benefit from our unique unlocking process</h4>
      <p class="text-justify">We follow a strict process to release your data if you cannot do it yourself. Your approvers unlock the data on the call to action you have defined. Then, we authorise guardians to access their private portal.</p>
    </div>
  </div>
</section>


<!-- Caroussel - Medias -->

<div class="wrapper">
  <section id="media-quotes" class="container content-section text-center">
    <h2>Because you need a backup...</h2>
    <p>Foreigners do not benefit from the same rights. History and recent political
    events remind us we need to protect us and our relatives.</p>

    <div id="carousel-container">
    <div class="cloud9-carousel" id="cloud9-carousel">

      <div class="cloud9-item pink-border">
        <p>“In absence of guardian nomination it can take up to 26 weeks for kids to join their relatives after their parents disappear."</p>
        <%= image_tag('Law_Society.png', class: "carousel-image") %>
      </div>

      <div class="cloud9-item purple-border">
        <p>“EU family Law and passport does not apply to UK.</p>
        <%= image_tag('European_Commission.png', class: "carousel-image") %>
      </div>
      <div class="cloud9-item aqua-border">
        <p>“Prove your right to live in the UK as an EU citizen"</p>
        <%= image_tag('logo-govuk.png', class: "carousel-image") %>
      </div>
      <div class="cloud9-item orange-border">
        <p>“EU citizens urged to collect evidence they lived in UK prior to Brexit vote"</p>
        <%= image_tag('Independent_logo.png', class: "carousel-image") %>
      </div>
      <div class="cloud9-item blue-border">
        <p>“Over 24,000 children are bereaved of a parent each year in Britain and yet very few people have chosen a legal guardian for their little ones"</p>
        <%= image_tag('telegraph_logo.png', class: "carousel-image") %>
      </div>
    </div>
    </div>
  </section>
</div>

<!-- Feedback -->
<section id="feedback" style="background-image: linear-gradient(-225deg, rgba(0,101,128,0.4) 0%, rgba(0,36,51,0.4) 50%), url(<%= image_path('banner2.jpg') %>);">
  <div class="container text-center" id="reviews">
    <h2>...you need to get ready</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="review-box">
          <p>“I did not have any family in the UK when my parents passed away. I was devastated by the news and completely lost. I stayed more than 20 weeks alone under British Authorities control before being allowed to join my grand-parents in Poland. My parents had not named guardians as it is something you are never asked.“</p>
          <p>Imre</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="review-box">
          <p>“When my sister had a deadly accident, she was divorced from her husband with two sons and living in the UK. My nephews have been placed in an orphanage as there was no named guardian and UK authorithies judge their father was not eligible. I finally got custody after four months and a long and painful process for them. I have myself named guardians. It should be as natural as it is for an insurance policy.“</p>
          <p>Iva</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing -->

<section id="comparison">
  <div class="container text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="comparison-box my-will">
            <h3>£20</h3>
            <h5>MyWill</h5>
            <hr>
            <ul>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p> Trust infrastructure: storage and authenticity</p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p> Update any time </p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p> Store personal messages and data (for an additional cost) </p>
              </li>
            </ul>
            <div class="versus-circle">
              <p>VS</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 ">
          <div class="comparison-box lawyer-will">
            <h3>£200</h3>
            <h5>Average Lawyer Will</h5>
            <hr>
            <ul>
              <li class="comparison-li text-left">
                <%= icon('check', class: "comparison-icon green") %>
                <p class="green"> Trust infrastructure: storage and authenticity </p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('times', class: "comparison-icon") %>
                <p> Update any time </p>
              </li>
              <li class="comparison-li text-left">
                <%= icon('times', class: "comparison-icon") %>
                <p> Store personal messages and data (for an additional cost) </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Registration -->

<div class="container text-center" id="registration">
  <h3><strong>Register your chosen Guardians today</strong></h3>
  <p>Protect your family, keep your personal data safe and share your memories</p>
  <button class="btn btn-primary">Register your nomination =></button>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $(window).scroll(function(){
        if($(window).scrollTop()>300)
          $(".navbar-wagon").css({"background-color": "rgba(66,145,166,1)", "box-shadow": "0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03)"});
        else
          $(".navbar-wagon").css({"background-color": "rgba(255, 255, 255, 0.2)", "box-shadow": "none"});
      });
    });
  </script>
<% end %>
