<br>

<div class="grey-box">
  <h2>Call to Action</h2>

  <div class="blue-box">
    <p>In this section you must specify <strong>the event that will kick off the release of your data if you are not in a position to access it.</strong></p>
    <p>This call to action will require <strong>the approval of at least three of your approvers.</strong> An approver can be a legal person or someone you know.</p>
    <p>Once the quroum of approvers have confirmed your situation, we release your data to those concerned.</p>
    <p>The data attached to your call of action will be stored in a secure blockchain for authenticity purposes. For example: your proof of residency in case of Brexit.</p>
    <p><strong>Guardians</strong> are trusted people that will either testify to your situation or will take over some of your existing responsibilities.</p>
  </div>

  <hr>

  <% if @call_to_action %>

    <h3>Your call to action:</h3>

    <div id="action-details">
      <h4><strong><%= @call_to_action.event %></strong></h4>
    </div>

    <div id="edit-action-form"></div>

    <%= link_to "Edit", edit_user_call_to_action_path(@user, @call_to_action), remote: true, class: "btn btn-transparent btn-default" %>
    <%= link_to "Remove", user_call_to_action_path(@user, @call_to_action), method: :delete, class: "btn btn-transparent btn-default" %>

  <% else %>

    <h5>You have not uploaded a call to action.</h5>
    <p>Please use the form below to do so:</p>

    <%= simple_form_for [@user, @new_call_to_action], url: user_call_to_action_index_path, method: :post do |f| %>
      <%= f.input :event %>
      <%= f.button :submit, "Confirm Call To Action" %>
    <% end %>

  <% end %>
</div>
