<div class="grey-box">
  <h2>Approvers</h2>

  <div class="blue-box">
    <p>Approvers are...</p>
  </div>

  <h3>My Approvers</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user.png", class: "avatar") %>
        <h5>George Martin</h5>
      <% end %>
    </div>
    <div class="detail">
      <%= link_to "Edit", edit_user_approver_path(@user), class: "btn btn-transparent btn-default" %>
      <%= link_to "Delete", user_approver_path(@user), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
    </div>
  </div>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user.png", class: "avatar") %>
        <h5>William Rowley</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <%= link_to "Add New Approver", new_user_approver_path(@user), class: "btn btn-transparent btn-default" %>
</div>
