<div class="grey-box">
  <h2>Family and Friends</h2>

  <div class="blue-box">
    <p>Here you add family and friends who...</p>
  </div>

  <h3>My Partner</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar") %>
        <h5>Edith Hartaway</h5>
      <% end %>
    </div>
    <div class="detail">
      <%= link_to "Edit", edit_user_recipient_path(@user), class: "btn btn-transparent btn-default" %>
      <%= link_to "Delete", user_recipient_path(@user), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
    </div>
  </div>

  <h3>My Children</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar") %>
        <h5>Art Hartaway</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user.png", class: "avatar") %>
        <h5>Phillip Hartaway</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <h3>Other Family Members</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar") %>
        <h5>Martha Hartaway</h5>
      <% end %>
    </div>
    <div class="detail">
      <p><strong>Relationship:</strong> Mother</p>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <h3>My Friends</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user.png", class: "avatar") %>
        <h5>Mike Lawson</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <%= link_to "Add New Friend or Family Member", new_user_recipient_path(@user), class: "btn btn-transparent btn-default" %>

</div>
