<div class="grey-box">
  <h2>Guardians</h2>

  <div class="blue-box">
    <p>Guardians are...</p>
  </div>

  <h3>My Guardians</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h5>Rebecca Jones</h5>
      <% end %>
    </div>
    <div class="detail">
      <%= link_to "Edit", edit_user_guardian_path(@user), class: "btn btn-transparent btn-default" %>
      <%= link_to "Delete", user_guardian_path(@user), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
    </div>
  </div>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h5>Betty Hall</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Edit</p>
      <p>Delete</p>
    </div>
  </div>

  <%= link_to "Add New Guardian", new_user_guardian_path(@user), class: "btn btn-transparent btn-default" %>
</div>
