<div id="personal-details" class="details-box card">

  <%= link_to '#', class: 'edit-profile-picture' do %>
    <%= image_tag("user.png", class: "avatar-large") %>
    <p>Edit Profile Picture</p>
  <% end %>

  <%= simple_form_for(@user) do |f| %>
    <div class="outer-flex">
      <div class="inner-flex">
        <%= f.input :first_name %>
      </div>
      <div class="inner-flex">
        <%= f.input :middle_name %>
      </div>
      <div class="inner-flex">
        <%= f.input :last_name %>
      </div>
    </div>
    <div class="inner-flex">
    <%= f.input :citizenship %>
    </div>
    <div class="inner-flex">
    <%= f.input :date_of_birth %>
    </div>
    <div class="inner-flex">
    <%= f.input :phone_number %>
    </div>
    <div class="inner-flex">
    <%= f.input :address_line_1 %>
    </div>
    <div class="inner-flex">
    <%= f.input :address_line_2 %>
    </div>
    <div class="inner-flex">
    <%= f.input :town %>
    </div>
    <div class="inner-flex">
    <%= f.input :postcode %>
    </div>
    <div class="inner-flex">
    <%= f.input :country %>
    </div>
    <div class="inner-flex">
    <%= f.button :submit %>
    </div>
  <% end %>
</div>
