<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_path('background.jpg') %>)">
  <div id="tab-content">
    <div class="container">
      <br>
      <% if !@proofs.empty? %>
        <div class="header-box padding-15">
          <h2><%= t('Your Proof of Residency') %></h2>
          <%= link_to t("Add Document"), new_user_proof_path([I18n.locale, current_user, @proof]), remote: true, class: "btn orange-button" %>
        </div>

        <div class="blue-box side-margin-small top-margin-small">
          <p><%= t('proof tooltip') %></p>
        </div>

        <div class="col-xs-12 col-lg-6 invisible">
          <div class="document-card">
            <div class="note-form" id="new-proof-form"></div>
          </div>
        </div>

        <% @proofs.reverse.each do |proof| %>

          <div class="col-xs-12 col-lg-6">
            <div class="document-card">
              <div class="card-buttons">
                <%= link_to edit_user_proof_path(current_user, proof.id), remote: true do %>
                  <i class="fa fa-pencil" aria-hidden="true"> </i>
                <% end %>
                <%= link_to user_proof_path(current_user, proof.id), data: {confirm: t('Are you sure')}, method: :delete do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="proof-spacing" id="proof-<%= proof.id %>">
                <%= cl_image_tag(proof.document.path, transformation: [{width: 150, height: 200, crop: "fill"}]) %>
                <div class="details-box margin-left">
                  <h4 class="text-center"><strong><%= proof.title %></strong></h4>
                  <div class="proof-comments card-overflow">
                    <p><%= proof.comments %></p>
                  </div>
                </div>
              </div>
              <div class="note-form" id="edit-proof-form-<%= proof.id %>"></div>
            </div>
          </div>
        <% end %>

      <% else %>

        <div class="side-margin white-text">
          <h2><%= t('Proof of Residency') %></h2>

          <div class="blue-box">
            <p><%= t('proof description') %></p>
          </div>
        </div>

        <div class="grey-box relative">
          <i class="fa fa-question-circle question-circle" aria-hidden="true"><span class="question-tooltip"><%= t('details tooltip') %></span></i>
          <h5><strong><%= t('not uploaded residency') %></strong></h5>
          <p><%= t('please use form below') %></p>
          <%= simple_form_for([@user, @proof]) do |f| %>
            <%= f.input :title %>
            <%= f.input :document, as: :attachinary %>
            <%= f.input :comments %>
            <div class="submit-button text-center">
              <%= f.button :submit, t("Submit Proof of Residency"), class: "btn purple-button shorten-button" %>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
