<div class="grey-box">
  <h2>My <%= @type.capitalize %>s</h2>

  <div class="blue-box">
    <p><%= @type.capitalize %>s are...</p>
  </div>

  <% @assignees.where('type = ?', @type).each do |assignee| %>
    <div class="detail-box">
      <div class="detail">
        <%= link_to user_approver_path(current_user, assignee.id), class: 'assignee-link profile-picture-inline' do %>
          <%= image_tag("user.png", class: "avatar") %>
          <h6><%= assignee.id %></h6>
          <h5><%= assignee.first_name + " " + assignee.last_name %></h5>
        <% end %>
      </div>
      <div class="detail">
        <%= link_to "Edit", edit_user_assignee_path(current_user, assignee.id), class: "btn btn-transparent btn-default" %>
        <%= link_to "Delete", user_assignee_path(current_user, assignee.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
      </div>
    </div>
  <% end %>

  <%= link_to "Add New " + @type, new_user_assignee_path(current_user, @type), class: "btn btn-transparent btn-default" %>
</div>
