<div class="container-box">
  <div class="header-box padding-15">
    <h2>My <%= @type.capitalize %>s</h2>
    <%= link_to t("Add New") + " " + @type, new_user_assignee_path(current_user, @type), class: "btn orange-button" %>
  </div>

  <div class="blue-box side-margin-small">
    <p><%= t('guardian explanation') %></p>
  </div>

  <div class="assignees">
    <% @assignees.where('type = ?', @type).each do |assignee| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card">
          <%= link_to user_assignee_path(current_user, assignee.id) do %>
            <div class="card-buttons">
              <%= link_to user_assignee_path(current_user, note.assignee_id), data: {confirm: t('Are you sure')}, method: :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
            <% if assignee.profile_picture %>
              <%= cl_image_tag(assignee.profile_picture.path, transformation: [{width: 100, height: 100, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-card push-right") %>
            <% elsif assignee.title == "Mrs" || assignee.title == "Ms" %>
              <%= image_tag('guardian_female.png', class: "index-icon") %>
            <% else %>
              <%= image_tag('guardian_male.png', class: "index-icon") %>
            <% end %>
            <div class="card-description">
              <h5 class="black-text"><strong><%= assignee.name_surname %></strong></h5>
              <%= link_to t("Delete"), user_assignee_path(current_user, assignee.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
