<br>

<h2 class="title-margin"><%= @assignee.first_name + ' ' + @assignee.try(:middle_name).to_s + ' ' + @assignee.last_name %></h2>

<div class="platform-box">
  <%= link_to "#", class: "platform platform-profile", id: "assignee-details-icon" do %>
    <i class="fa fa-user" aria-hidden="true"></i>
    <h4>Details</h4>
  <% end %>

  <%= link_to "#", class: "platform platform-profile", id: "assignee-notes-icon" do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <h4>Notes</h4>
  <% end %>

  <%= link_to "#", class: "platform platform-profile", id: "assignee-admin-icon" do %>
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <h4>Admin</h4>
  <% end %>

  <%= link_to "#", class: "platform platform-profile", id: "assignee-photo-icon" do %>
    <i class="fa fa-camera" aria-hidden="true"></i>
    <h4>Photos</h4>
  <% end %>

  <%= link_to "#", class: "platform platform-profile", id: "assignee-video-icon" do %>
    <i class="fa fa-video-camera" aria-hidden="true"></i>
    <h4>Videos</h4>
  <% end %>
</div>

<br>

<div class="container-box">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="alt-card card-overflow" id="action-card">
        <h4>Notes</h4>
        <hr>
        <div class="card-content">
          <% @assignee.notes.each do |note| %>
            <p><%= note.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="alt-card card-overflow" id="guardian-card">
        <h4>Admin References</h4>
        <hr>
        <div class="card-content">
          <% @assignee.references.each do |reference| %>
            <p><%= reference.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="alt-card card-overflow" id="approver-card">
        <h4>Photos</h4>
        <hr>
        <div class="card-content">
          <% @assignee.photos.each do |photo| %>
            <p><%= photo.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="alt-card card-overflow" id="recipient-card">
        <h4>Videos</h4>
        <hr>
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey-box">
  <h3><%= @assignee.type.capitalize %></h3>

  <div class="blue-box">
    <p>You have listed <%= @assignee.first_name %> as an <%= @assignee.type %>. This means... [assignee type description] </p>
  </div>

  <%= link_to '#' do %>
    <h5>See <%= @assignee.first_name %>'s details.</h5>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @assignee.notes.each do |note| %>
        <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @assignee.references.each do |reference| %>
        <p><%= reference.document %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @assignee.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>
