<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<% content_for(:sidebar) do %>
  <%= render 'shared/sidebars/sidebar_core' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_path('background.jpg') %>)">
  <div id="tab-content">
    <div class="container">
      <br>
      <div class="grey-box relative">
        <% if params[:format] == 'Guardian' || params[:type] == 'Guardian' || params[:assignee] && params[:assignee]['type'] == 'Guardian' %>
          <h3 class="new-title"><%= t('New Guardian') %></h3>
        <% elsif params[:format] == 'Approver' || params[:type] == 'Approver' %>
          <h3 class="new-title"><%= t('New Approver') %></h3>
        <% elsif params[:format] == 'Partner' || params[:relationship] == 'Partner' %>
          <h3 class="new-title"><%= t('New Partner') %></h3>
        <% elsif params[:format] == 'Child' || params[:relationship] == 'Child' %>
          <h3 class="new-title"><%= t('New Child') %></h3>
        <% else %>
          <h3 class="new-title"><%= t('New Recipient') %></h3>
        <% end %>
        <%= render 'assignees/form' %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
  <script>
    // Changes to relevant sidebar tab
    $('.sidebar-tabs').children().removeClass("active");
    console.log('<%= params[:format] %>');
    if ('<%= params[:format] %>' == 'Guardian' || '<%= params[:format] %>' == 'Approver') {
      $('#<%= params[:format].downcase %>-sidebar-tab').addClass("active");
    } else {
      $('#recipient-sidebar-tab').addClass("active");
    }
  </script>
<% end %>
