<br>

<div class="container-box">
  <div class="header-box">
    <h2>Notes for <%= @assignee.first_name.capitalize %></h2>
    <%= link_to "Add New Note", new_user_assignee_note_path(current_user, @assignee, @note), remote: true, class: "btn btn-transparent btn-default button-height-default" %>
  </div>

  <div class="blue-box">
    <p>Here include all notes associated with this <%= @assignee.type %>.</p>
  </div>

  <% @assignee.notes.each do |note| %>
    <div class="col-xs-12 col-md-6">
      <div class="alt-card">
        <div class="note-spacing" id="assignee-note">
          <h5><strong><%= note.title %></strong></h5>
          <p><%= note.content %></p>

          <div class="button-box">
            <%= link_to "Edit", edit_user_assignee_note_path(current_user, @assignee, note.id), remote: true, class: "btn btn-success btn-default" %>
            <%= link_to "Delete", user_assignee_note_path(current_user, @assignee, note.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
          </div>


        </div>
        <div class="note-form" id="edit-note-form"></div>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12 col-md-6">
    <div class="alt-card invisible">
      <div class="note-form" id="new-note-form"></div>
    </div>
  </div>
</div>
