<br>

<div class="container-box">
  <div class="header-box">
    <h2><%= @assignee.type.capitalize %> Photos Page</h2>
    <%= link_to "Add Photo", new_user_assignee_photo_path(current_user, @assignee.id), remote: true, class: "btn btn-transparent btn-default button-height-default" %>
  </div>

  <h3><%= @assignee.first_name + " " + @assignee.last_name %></h3>

  <div class="blue-box">
    <p>Here include all photos associated with this <%= @assignee.type.downcase %>.</p>
  </div>

  <% @assignee.photos.each do |photo| %>
    <div class="col-xs-12 col-sm-4">
      <div class="asset-card text-center">
        <%= cl_image_tag(photo.photo_seed, width: 200, height: 150) %>
        <h5><strong>For:</strong> <%= Assignee.find(photo.assignee_id).first_name %></h5>

        <div id="edit-photo-form"></div>

        <div class="card-buttons">
          <%= link_to "Edit", edit_user_assignee_photo_path(current_user, @assignee, photo.id), remote: true, class: "btn btn-info btn-default" %>
          <%= link_to "Delete", user_assignee_photo_path(current_user, @assignee, photo.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="new-photo-form"></div>

</div>
