<div class="container">
  <br>
  <div class="grey-box relative">
    <br>
    <%= link_to '#', class: 'profile-picture-inline' do %>

      <% if @assignee.profile_picture %>
        <%= cl_image_tag(@assignee.profile_picture.path, transformation: [{width: 120, height: 120, gravity: "face", radius: "max", crop: "fill"}], class: "avatar-edit") %>
      <% elsif @assignee.relationship == 'Partner' %>
        <% if @user.title == "Mr" %>
          <%= image_tag('female.png', class: "edit-icon") %>
        <% else %>
          <%= image_tag('male.png', class: "edit-icon") %>
        <% end %>
      <% elsif %>
        <% if @assignee.relationship == "Child"%>
          <%= image_tag('girl.png', class: "edit-icon") %>
        <% else %>
          <%= image_tag('boy.png', class: "edit-icon") %>
        <% end %>
      <% else %>
        <% if @assignee.title == "Mrs" || @assignee.title == "Ms" %>
          <%= image_tag('guardian_female.png', class: "edit-icon") %>
        <% else %>
          <%= image_tag('guardian_male.png', class: "edit-icon") %>
        <% end %>
      <% end %>

      <p><%= t('Change Picture') %></p>
      <%= simple_form_for [current_user, @assignee], html: {class: 'form-inline edit-profile-picture invisible'} do |f| %>
        <%= f.input :profile_picture, as: :attachinary, label: false, input_html: { class: 'profile-upload'} %>
        <%= f.submit t("Upload"), class: 'profile-upload'  %>
      <% end %>
    <% end %>

    <% if params[:format] == 'Guardian' || @assignee.type == 'Guardian' %>
      <h3 class="new-title padding-15">Guardian</h3>
    <% elsif params[:format] == 'Approver' || @assignee.type == 'Approver' %>
      <h3 class="new-title padding-15">Approver</h3>
    <% elsif params[:relationship] == 'Partner' || @assignee.relationship == 'Partner' %>
      <h3 class="new-title padding-15">Partner</h3>
    <% elsif params[:relationship] == 'Child' || @assignee.relationship == 'Child' %>
      <h3 class="new-title padding-15">Child</h3>
    <% else %>
      <h3 class="new-title padding-15"><%= @assignee.relationship %></h3>
    <% end %>

    <hr>
    <div class="profile-header">
      <%= link_to t("Details"), '#' %>
      <div class="profile-controls">
        <%= link_to "Edit", '#', id: "view-details" %>
      </div>
    </div>
    <div class="profile-content">

    </div>

    <hr>
    <div class="profile-header">
      <div>
        Notes
        <%= link_to new_user_assignee_note_path(I18n.locale, current_user.id, @assignee, @note), remote: true, id: "add-note" do %>
          <i class="fa fa-plus" aria-hidden="true"><span class="add-tooltip"><%= t('Add Note') %></span></i>
      <% end %>
      </div>
      <div class="profile-controls">
        <%= link_to "View All >>", '#', id: "view-notes" %>
      </div>
    </div>
    <div class="profile-form hidden">
      <i class="fa fa-times" aria-hidden="true"></i>
      <div class="note-form hidden" id="new-note-form"></div>
    </div>
    <% @assignee.notes.each do |note| %>
      <div class="profile-content">
        <div>
          <h5><%= note.title %></h5>
          <p><%= note.created_at.strftime("Created on  %d/%m/%Y") %></p>
        </div>
        <div class="profile-controls">
          <%= link_to edit_user_assignee_note_path(current_user, note.assignee_id, note.id), remote: true do %>
            <i class="fa fa-pencil" aria-hidden="true"> </i>
          <% end %>
          <%= link_to user_note_path(current_user, note.id), data: {confirm: t('Are you sure')}, method: :delete do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="profile-form hidden">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="note-form hidden" id="edit-note-form-<%= note.id %>"></div>
      </div>
    <% end %>

    <hr>
    <div class="profile-header">
      <div>
        Photos
        <%= link_to new_user_assignee_photo_path(I18n.locale, current_user.id, @assignee, @photo), remote: true, id: "add-photo" do %>
          <i class="fa fa-plus" aria-hidden="true"><span class="add-tooltip"><%= t('Add Photo') %></span></i>
      <% end %>
      </div>
      <div class="profile-controls">
        <%= link_to "View All >>", '#', id: "view-photos" %>
      </div>
    </div>
    <div class="profile-form hidden">
      <i class="fa fa-times" aria-hidden="true"></i>
      <div class="photo-form hidden" id="new-photo-form"></div>
    </div>
    <% @assignee.photos.each do |photo| %>
      <div class="profile-content">
        <div>
          <h5><%= photo.title %></h5>
          <p><%= photo.created_at.strftime("Created on  %d/%m/%Y") %></p>
        </div>
        <div class="profile-controls">
          <%= link_to edit_user_assignee_photo_path(current_user, photo.assignee_id, photo.id), remote: true do %>
            <i class="fa fa-pencil" aria-hidden="true"> </i>
          <% end %>
          <%= link_to user_photo_path(current_user, photo.id), data: {confirm: t('Are you sure')}, method: :delete do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="profile-form hidden">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="photo-form hidden" id="edit-photo-form-<%= photo.id %>"></div>
      </div>
    <% end %>

    <hr>
    <div class="profile-header">
      <div>
        Admin References
        <%= link_to new_user_assignee_reference_path(I18n.locale, current_user.id, @assignee, @reference), remote: true, id: "add-reference" do %>
          <i class="fa fa-plus" aria-hidden="true"><span class="add-tooltip"><%= t('Add Reference') %></span></i>
      <% end %>
      </div>
      <div class="profile-controls">
        <%= link_to "View All >>", '#', id: "view-references" %>
      </div>
    </div>
    <div class="profile-form hidden">
      <i class="fa fa-times" aria-hidden="true"></i>
      <div class="reference-form hidden" id="new-reference-form"></div>
    </div>
    <% @assignee.references.each do |reference| %>
      <div class="profile-content">
        <div>
          <h5><%= reference.title %></h5>
          <p><%= reference.created_at.strftime("Created on  %d/%m/%Y") %></p>
        </div>
        <div class="profile-controls">
          <%= link_to edit_user_assignee_reference_path(current_user, reference.assignee_id, reference.id), remote: true do %>
            <i class="fa fa-pencil" aria-hidden="true"> </i>
          <% end %>
          <%= link_to user_reference_path(current_user, reference.id), data: {confirm: t('Are you sure')}, method: :delete do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="profile-form hidden">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="reference-form hidden" id="edit-reference-form-<%= reference.id %>"></div>
      </div>
    <% end %>

    <hr>
    <br>

  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    /* Cancel add/edit form */
    $('.fa-times').on('click', function() {
      $(this).parent().addClass('hidden');
    });
    /* View all leads to correct tab */
    $('#view-details').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass("active");
      $('#show-details-sidebar-tab').addClass('active');
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/edit",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#view-notes').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass("active");
      $('#show-notes-sidebar-tab').addClass('active');
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/notes",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#view-photos').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass("active");
      $('#show-photos-sidebar-tab').addClass('active');
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/photos",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
    $('#view-references').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass("active");
      $('#show-admin-sidebar-tab').addClass('active');
      $.ajax({
          type: "GET",
          url: <%= @assignee.id %> + "/references",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
  </script>
<% end %>
