<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="include-sidebar">

  <%= render 'shared/sidebars/sidebar_assignee' %>

  <%= render 'shared/scrollmenu' %>

  <div class="dashboard-box">
    <div id="tab-content">
      <div class="0" id="profile-content">
        <%= render 'assignee/profile' %>
      </div>

      <div class="2 hidden" id="details-content">
        <%= render file: 'assignee/edit' %>
      </div>

      <div class="4 hidden" id="notes-content">
        <%= render file: 'assignee/notes' %>
      </div>

      <div class="6 hidden" id="admin-content">
        <%= render file: 'assignee/admin' %>
      </div>

      <div class="8 hidden" id="photos-content">
        <%= render file: 'assignee/photos' %>
      </div>

      <div class="10 hidden" id="videos-content">
        <%= render file: 'assignee/videos' %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // // Changes the active scrollmenu tab to the current user
    // $('.scrollbox').children().removeClass("active");
    // var approverId = <%= @approver.id %>

    // // Try iterating through then if contains approverId addclass()
    // if ($('.scrollitem h6').text().includes(approverId)) {
    //   $('.scrollitem').find("h6").includes(approverId).addClass("active");
    // AJAX to load tab content without a refresh
//     $('#show-profile-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %>,
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
//     $('#show-details-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %> + "/edit",
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
//     $('#show-notes-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %> + "/notes",
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
//     $('#show-admin-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %> + "/admin",
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
//     $('#show-photos-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %> + "/photos",
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
//     $('#show-videos-sidebar-tab').click(function(e){
//       e.preventDefault();
//       $.ajax({
//           type: "GET",
//           url: <%= @approver.id %>  + "/videos",
//           data: { },
//           success: function(data){
//               $('#tab-content').html(data);
//           }
//       });
//     });
  </script>
<% end %>
