<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<% content_for(:sidebar) do %>
  <%= render 'shared/sidebars/sidebar_assignee' %>
<% end %>

<div class="dashboard-box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= asset_path('background.jpg') %>)">
  <div id="tab-content">
    <%= render file: "assignees/profile" %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Changes active scrollmenu user
    $('.scrollbox').children().removeClass("active");

    var assigneeId = <%= @assignee.id %>

    $('.scrollitem h6').filter(function () {
        return $(this).text() == assigneeId;
    }).parentsUntil('.scrollmenu').addClass('active');

    // Edit profile picture form
    $('.profile-picture-inline').click(function(e) {
      e.preventDefault;
      console.log('hello')
      $('.edit-profile-picture').removeClass('invisible');
    });
  </script>
<% end %>
