<div class="container">
  <br>

  <% if !@references.empty? %>
    <div class="header-box padding-15">
      <h2><%= t('Admin & Reference Documents') %></h2>
      <%= link_to t("Add Reference"), new_user_reference_path([I18n.locale, current_user, @reference]), remote: true, class: "btn orange-button", id: "add-reference" %>
    </div>

    <div class="blue-box detail-box side-margin-small top-margin">
      <p><%= t('note description html') %></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 invisible">
      <div class="photo-card">
        <div class="reference-form" id="new-reference-form"></div>
      </div>
    </div>

    <% @user.references.reverse.each do |reference| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="photo-card">
          <div class="card-buttons">
            <% if reference.assignee_id? %>
              <%= link_to user_assignee_reference_path(current_user, reference.assignee_id, reference.id), data: {confirm: t('Are you sure')}, method: :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to user_reference_path(current_user, reference.id), data: {confirm: t('Are you sure')}, method: :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="note-spacing" id="assignee-note-<%= reference.id %>">
            <br>
            <% if reference.assignee_id? %>
              <%= link_to user_assignee_reference_path(current_user, reference.assignee_id, reference), class: "reference-link", "data-reference-id" => reference.id, "data-assignee-id" => reference.assignee_id do %>
                <%= cl_image_tag(reference.document_seed, width: 200, height: 150) %>
              <% end %>
            <% else %>
              <%= link_to user_reference_path(current_user, reference), class: "reference-link", "data-reference-id" => reference.id, "data-assignee-id" => reference.assignee_id do %>
                <%= cl_image_tag(reference.document_seed, width: 200, height: 150) %>
              <% end %>
            <% end %>
            <br>
            <hr>
            <div class="text-center">
              <h4><strong><%= reference.title %></strong></h4>
              <h5><strong>For:</strong> <%= reference.assignee_id ? Assignee.find(reference.assignee_id).first_name : 'Everyone' %></h5>
            </div>
          </div>
          <div class="reference-form" id="edit-reference-form-<%= reference.id %>"></div>
        </div>
      </div>
    <% end %>

  <% else %>

    <div class="side-margin white-text">
      <h2>Admin References</h2>

      <div class="blue-box">
        <p><%= t('reference description html') %></p>
      </div>
    </div>

    <div class="grey-box">
      <h5><strong><%= t('not added references') %></strong></h5>
      <p><%= t('please use form below') %></p>
      <%= simple_form_for([@user, @reference]) do |f| %>
        <%= f.input :title, label: t('Title') %>
        <%= f.input :document, as: :attachinary %>
        <%= f.input :comments, label: t('Content') %>
        <div class="submit-button text-center">
          <%= f.button :submit, t("Create"), class: "btn purple-button" %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
    // Clicking on reference loads relevant show page
    $('.reference-link').click(function(e){
      e.preventDefault();
      var referenceId = $(this).data('reference-id');
      var assigneeId = $(this).data('assignee-id');
      var userId = <%= @user.id %>;
      $('#tab-content').empty();
      $.ajax({
          type: "GET",
          url: "/users/" + userId + "/assignees/" + assigneeId + "/references/" + referenceId,
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
  </script>
<% end %>
