<h1>Photos#edit</h1>
<p>Find me in app/views/photos/edit.html.erb</p>

<% if @approver_present == true %>
  <%= simple_form_for [current_user, @approver, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
<% elsif @guardian_present == true %>
  <%= simple_form_for [current_user, @guardian, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
<% elsif @recipient_present == true %>
  <%= simple_form_for [current_user, @recipient, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
<% end %>
