<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>

<% if @approver_present == true %>
  <%= simple_form_for [current_user, @approver, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit %>
  <% end %>
<% elsif @guardian_present == true %>
  <%= simple_form_for [current_user, @guardian, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit %>
  <% end %>
<% elsif @recipient_present == true %>
  <%= simple_form_for [current_user, @recipient, @photo] do |f| %>
    <%= f.input :title %>
    <%= f.input :caption %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit %>
  <% end %>
<% end %>
