<div class="navbar-wagon navbar-wagon-fixed" id="navbar-home">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag('logo.png', class: "logo") %>
  <% end %>

  <!-- Central Links -->
  <div class="navbar-center">
    <%= link_to t('About'), about_path, class: "navbar-text top-margin-navbar hidden-xs" %>
    <%= link_to root_path, class: "navbar-text i18n-button", "data-toggle":"dropdown" do %>
      <% if params[:locale] == 'fr' %>
        <%= image_tag('fr.png', class: "flag hidden-xxs") %>
        <%= t("French") %>
      <% else %>
        <%= image_tag('gb.png', class: "flag hidden-xxs") %>
        <%= t("English") %>
      <% end %>
      <i class="fa fa-caret-down dropdown-toggle"></i>
    <% end %>
    <%= link_to t('Contact'), contact_path, class: "navbar-text top-margin-navbar hidden-xs" %>
    <ul class="i18n dropdown-menu i18n-dropdown-menu">
      <li>
        <%= link_to url_for( locale: nil ) do %>
          <%= image_tag('gb.png', class: "flag") %>
          <%= t("English") %>
        <% end %>
      </li>
      <!-- <li> -->
        <%# link_to url_for( locale: 'fr' ) do %>
          <%# image_tag('fr.png', class: "flag") %>
          <%# t("French") %>
        <%# end %>
      <!-- </li> -->
    </ul>
  </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <%= link_to user_profile_path(current_user), class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="fa fa-user"></i>
        <%= t('Profile') %>
      <% end %>
      <%= link_to t("Log out"), destroy_user_session_path, method: :delete, id: "login-button", class: " navbar-wagon-link btn btn-default" %>

    <% else %>

      <%= link_to t("Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t("Login"), new_user_session_path, id: "login-button", class: " navbar-wagon-link btn btn-default" %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_profile_path(current_user), class: "navbar-wagon-item navbar-wagon-link" do %>
              <i class="fa fa-user"></i>
              <%= t('Profile') %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: " navbar-wagon-link" do %>
              <i class="fa fa-sign-out"></i>
              <%= t('Log out') %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to t("Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn btn-transparent" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="home-flashes">
  <%= render 'shared/flashes' %>
</div>
