<div class="navbar-wagon navbar-wagon-fixed" id="sign-up-navbar">
  <!-- Logo -->
  <%= link_to "#", class: "navbar-wagon-brand" do %>
    <%= image_tag('logo.png', class: "logo") %>
  <% end %>

  <!-- Central Links -->
  <div class="navbar-center sign-up-navbar-center">
    <%= link_to root_path, class: "navbar-text i18n-button", "data-toggle":"dropdown" do %>
      <% if params[:locale] == 'fr' %>
        <%= image_tag('fr.png', class: "flag hidden-xxs") %>
        <%= t("French") %>
      <% else %>
        <%= image_tag('gb.png', class: "flag hidden-xxs") %>
        <%= t("English") %>
      <% end %>
      <i class="fa fa-caret-down dropdown-toggle"></i>
    <% end %>
    <ul class="i18n dropdown-menu i18n-dropdown-menu">
      <li>
        <%= link_to url_for( locale: nil ) do %>
          <%= image_tag('gb.png', class: "flag") %>
          <%= t("English") %>
        <% end %>
      </li>
      <!-- <li> -->
        <%# link_to url_for( locale: 'fr' ) do %>
          <%# image_tag('fr.png', class: "flag") %>
          <%# t("French") %>
        <%# end %>
      <!-- </li> -->
    </ul>
  </div>
</div>
