<h2><%= @approver.first_name + ' ' + @approver.try(:middle_name).to_s + ' ' + @approver.last_name %></h2>

<div class="grey-box">
  <h3>Approver</h3>

  <div class="blue-box">
    <p>You have listed <%= @approver.first_name %> as an approver. This means... </p>
  </div>

  <%= link_to '#' do %>
    <h5>See <%= @approver.first_name %>'s details.</h5>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Notes</h3>
      <% end %>
      <hr>
      <% @approver.notes.each do |note| %>
          <p><%= note.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Administration References</h3>
      <% end %>
      <hr>
      <% @approver.references.each do |reference| %>
        <p><%= reference.title %><p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Photos</h3>
      <% end %>
      <hr>
      <% @approver.photos.each do |photo| %>
        <p><%= photo.title %><p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 card">
      <%= link_to "#" do %>
        <h3>Video Messages</h3>
      <% end %>
      <hr>
    </div>
  </div>
</div>
