<div class="grey-box">
  <h4>Details</h4>

  <%= link_to '#', class: 'profile-picture-inline' do %>
    <%= image_tag("user.png", class: "avatar-large") %>
    <p>Edit Profile Picture</p>
  <% end %>

  <%= simple_form_for [current_user, @approver] do |f| <%>
    <div class="row">
      <%= f.input :first_name %>
      <%= f.input :middle_name %>
      <%= f.input :last_name %>
    </div>
    <%= f.input :citizenship %>
    <%= f.input :date_of_birth %>
    </div>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    </div>
    <%= f.input :address_line_1 %>
    <%= f.input :address_line_2 %>
    </div>
    <%= f.input :town %>
    <%= f.input :postcode %>
    <%= f.input :country %>
    </div>
    <%= f.input :profile_picture %>
    <%= f.input :relationship %>
    <%= f.button :submit %>
  <% end %>
</div>
