<div class="grey-box">
  <h2>Approvers</h2>

  <div class="blue-box">
    <p>Approvers are...</p>
  </div>

  <% @approvers.each do |approver| %>
      <div class="detail-box">
        <div class="detail">
          <%= link_to user_approver_path(current_user, approver.id), class: 'approver-link profile-picture-inline' do %>
            <%= image_tag("user.png", class: "avatar-large") %>
            <h6><%= approver.id %></h6>
            <h5><%= approver.first_name + " " + approver.last_name %></h5>
          <% end %>
        </div>
        <div class="detail">
          <%= link_to "Edit", edit_user_approver_path(current_user, approver.id), class: "btn btn-transparent btn-default" %>
          <%= link_to "Delete", user_approver_path(current_user, approver.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent btn-default" %>
        </div>
      </div>
  <% end %>

  <%= link_to "Add New Approver", new_user_approver_path, class: "btn btn-transparent btn-default" %>
</div>

<% content_for(:after_js) do %>
  <script>
    // AJAX to load show page content without a refresh
    $('.approver-link').click(function(e){
      e.preventDefault();
      var showId = $(this).find("h6").text();
      $.ajax({
          type: "GET",
        url: <%= current_user.id %> + "/approvers/" + showId,
          data: { },
          success: function(data){
              $('#tab-content').html(data);
          }
      });
    });
  </script>
<% end %>
